
# Artifacts created when building Fortran programs
*.o
*.exe
*.mod

# Data files
*.nc
*.bufr_d
*.bufrtable
*.bin
*.grib2
RefInGSI3D.dat
prepbufr
!fix/*.bufrtable

# Namelists generated on-the-fly
larccld.fd/namelist.nasalarc
metarcld.fd/namelist.metarcld
mosaic.fd/namelist.mosaic
mosaic.fd/namelist.mosaic_netcdf
mosaic.fd/filelist_mrms

# Other
*.swp
slurm*
*.png
*.txt
