
# Artifacts created when building Fortran programs
*.o
*.exe
*.mod
*genmod.f90

# Data files
*.nc
*.bufr_d
*.bufrtable
*.bin
*.grib2
*bufr
RefInGSI3D.dat
LightningInMPAS.dat
prepbufr
!fix/*.bufrtable

# Namelists generated on-the-fly
larccld.fd/namelist.nasalarc
metarcld.fd/namelist.metarcld
mosaic.fd/namelist.mosaic
mosaic.fd/namelist.mosaic_netcdf
mosaic.fd/filelist_mrms
lightning.fd/namelist.lightning
cloudanalysis.fd/gsiparm.anl

# Other
*.swp
slurm*
*.png
*.txt
stdout*
